<!DOCTYPE html>
<html ng-app="msNGr">
  <head>
    <meta charset="utf-8">
    <title>msNGr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <header ng-controller="HeaderController">

      <h1>{{title}}</h1>
      <h4>{{tagLine}}</h4>

    </header>


    <div ng-controller="MessageController">

      <article ng-repeat="message in messages">
        UserName:<h3> {{message.user}} </h3>
        Date:<p> {{message.date | date}} </p>
        Message:<h5> {{message.text}} </h5>
        <img ng-src="{{message.image}}"><br>
        Likes:<h5> {{ message.likes }} </h5>
        <p ng-click="plusLike($index)"><button type="button" name="button">Like</button></p>
        <p ng-click="minusLike($index)"><button type="button" name="button">Dislike</button></p>
        <hr>
      </article>

    </div>


  </body>
</html>
